<div class="mainMenu" *ngIf="!playingSwitch">
  <button class="cybr-btn" (click)="startGame()">
    Start Game<span aria-hidden></span>
    <span aria-hidden class="cybr-btn__glitch">Start Game</span>
  </button>
  <button class="cybr-btn" (click)="Players()">
    Players<span aria-hidden></span>
    <span aria-hidden class="cybr-btn__glitch">Players</span>
  </button>
</div>

<div class="mainMenu" *ngIf="playerSwitch">
  <form id="test">
    <input type="text" id="name" name="name">
    <button type="button" (click)="addPlayer()"
            style="cursor: pointer; box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;">
      Submit
    </button>
  </form>
</div>



<div class="mainMenu" *ngIf="playerSwitch">
  <p>Players:</p>
  <p>----------</p>
  <div style="text-align: center">
    <div *ngFor="let player of players">{{player.name}}</div>
  </div>
</div>




<div class="gameTime" *ngIf="playingSwitch">
  <br>
  <button class="quitButton" (click)="quitGame()">Quit Game</button>

  <ul *ngIf="!start">
    <li>
      <input type="checkbox" id="myCheckbox1" />
      <label for="myCheckbox1"><img src="../assets/images/black.png" style="height: 200px"></label>
    </li>
    <li>

      <input type="checkbox" id="myCheckbox2" />
      <label for="myCheckbox2"><img src="../assets/images/red.png" style="height: 200px"></label>
    </li>
    <li>

      <input type="checkbox" id="myCheckbox3" />
      <label for="myCheckbox3"><img src="../assets/images/blue.png" style="height: 200px"></label>
    </li>
    <li>

      <input type="checkbox" id="myCheckbox4" />
      <label for="myCheckbox4"><img src="../assets/images/pink.png" style="height: 200px"></label>
    </li>
  </ul>


  <p *ngIf="!start">{{players[amountOfPlayers].name}}'s turn..</p>
  <p *ngIf="!start">Please select a horse and put a drinking bet!</p>
  <form id="test2" *ngIf="!start">
    <input type="number" id="amount" name="amount">
    <button type="button" (click)="addDrinkingBet()"
            style="cursor: pointer; box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;">
      Submit
    </button>
  </form>
</div>


<div *ngIf="start">
  <br>
  <br>
  <br>
  <button (click)="startSim()">Start round</button>
  <br><br>
  <br>
  <input class="slider" type="range" id="black" value="{{horses[0].progress}}" max="1000" style=" width: 100%">
  <br>
  <br>
  <br>
  <input class="slider" type="range" id="blue" value="{{horses[1].progress}}" max="1000" style=" width: 100%; background-image: url('../assets/images/blue.png');">
  <br> <br>
  <br>
  <input class="slider" type="range" id="pink" value="{{horses[2].progress}}" max="1000" style=" width: 100%">
  <br> <br>
  <br>
  <input class="slider" type="range" id="red" value="{{horses[2].progress}}" max="1000" style=" width: 100%; ">
</div>
<br><br><br>
<div *ngIf="winner">
  <p>Winners:</p>
  <div *ngFor="let player of players">
    <p *ngIf="player.horseColor == winningHorse">
      Player {{player.name}} can give {{player.drinkVal}} sips!!
    </p>
  </div>
  <br>
</div>

<div *ngIf="winner">
  <p>Losers:</p>
  <div *ngFor="let player of players">
    <p *ngIf="!(player.horseColor == winningHorse)">
      Player {{player.name}} must drink {{player.drinkVal}} sips!!
    </p>
  </div>
</div>

















